<mat-toolbar color="primary" class="mb-4">
  <mat-toolbar-row>
    <span>Post Application</span>
    <span class="example-spacer"></span>
<!--    <button mat-icon-button>-->
<!--      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>-->
<!--    </button>-->
<!--    <button mat-icon-button>-->
<!--      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">Create Post</mat-icon>-->
<!--    </button>-->
  </mat-toolbar-row>
</mat-toolbar>
